name: learn-github-actions
on: [push]
jobs:
    check-bats-version:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
            - run: git diff --name-only --line-prefix=`git rev-parse --show-toplevel`/ origin/master HEAD
            - run: git diff --name-only `git merge-base origin/master ${GITHUB_REF#refs/heads/}`..${GITHUB_REF#refs/heads/}
            - run: |
                chmod +x "${GITHUB_WORKSPACE}/.github/learn-github-actions.sh"
                "${GITHUB_WORKSPACE}/.github/learn-github-actions.sh"
            - uses: actions/setup-node@v1
            - run: npm install -g bats
            - run: bats -v
